/*
.center {
    float: none;
    margin-left: auto; 
    margin-right: auto; 
}

.table > thead > tr > th {
  border: 0;
}

.table {
    border: none;
}

.round-span {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: none repeat scroll 0 0 #8dd7d6;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    width: 50px;
    margin-left:10px;
    margin-right:10px;
}

.input-group {
    border-collapse: separate;
    display: inline;
    position: relative;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}


.profit-bg {
    background: none repeat scroll 0 0 #6ccac9;
    border-radius: 4px 4px 0 0;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.profit-footer {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 0 4px 4px;
    color: #c6cad6;
    font-size: 36px;
    font-weight: 300;
    padding: 18px 15px;
    text-align: center;
}
.nav > li {
    padding: 5px 5px;
}

*/


.page-header {
    border-bottom: 0px;
}

.new-panel {
    margin-top: 60px;
}
