{% load pagination_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>绿优农品</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   <link href="/static/css/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
   <!--<link rel="stylesheet" type="text/css" href="/static/201505091706/css/default.css">
    <link href="/static/201505091706/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />-->
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">绿优农品后台管理系统</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/summaries"><i class="fa fa-dashboard fa-fw"></i> 系统概览</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 商品管理<!--<span class="fa arrow">--></span></a>
                            <ul class="nav nav-second-level">
                               <li>
                                   <a href="/specials">特价商品</a>
                               </li>
				<li>
                                   <a href="/items">普通商品</a>
                               </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> 订单管理<!--<span class="fa arrow"></span>--></a>
			    <ul class="nav nav-second-level">
                               <li>
                                   <a href="/orders">全部订单</a>
                               </li>
                               <li>
                                   <a href="/orders/unpay">待付款</a>
                               </li>
                               <li>
                                   <a href="/orders/delivering">配送中</a>
                               </li>
                               <li>
                                   <a href="/orders/finished">已完成</a>
                               </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/users"><i class="fa fa-wrench fa-fw"></i> 用户管理<!--<span class="fa arrow"></span>--></a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="page-header">特价商品</h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>
	    <div class="container-fluid">
                <div id="delModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body">
                              确定要删除吗? 删除后数据将无法恢复哦！
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">不删</button>
                                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="delVeg();">删除</button>
                            </div>
                        </div>
                    </div>
                </div>

		<div id="SpecialModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">添加商品</h4>
                                </div>
                                <div class="modal-body">
				    <form id="specials" class="form-horizontal" action="/specials/create" method="POST" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">名称</label>
                                            <div class="col-sm-5">
                                                <input name="name" class="form-control" type="text" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">图片</label>
                                            <div class="col-sm-5">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                                    </div>
                                                    <div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileinput-new">选择图片</span>
                                                            <span class="fileinput-exists">更换</span>
                                                            <input type="file" name="photo">
                                                        </span>
                                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                                                    </div>
                                                </div>
						<!--<input id="file-0a" class="file" type="file" multiple data-min-file-count="1" name="photo">-->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">描述</label>
                                            <div class="col-sm-5">
                                                <input class="form-control" type="text" placeholder="" name="desc">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">规格</label>
                                            <div class="col-sm-5">
					        <div class="input-group">
                                                   <input class="form-control" type="text" placeholder="" name="size">
                                                   <span class="input-group-addon" id="basic-addon2">克/份</span>
                                                </div>
                                            </div>
                                            <!--<label class="co-sm-2 control-label">克/份</label>-->
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">原价</label>
                                            <div class="col-sm-5">
					        <div class="input-group">
                                                   <input class="form-control" type="text" placeholder="" name="price">
                                                   <span class="input-group-addon" id="basic-addon2">元/份</span>
                                                </div>
                                            </div>
                                            <!--<label class="co-sm-2 control-label">元</label>-->
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">促销价</label>
                                            <div class="col-sm-5">
					        <div class="input-group">
                                                   <input class="form-control" type="text" placeholder="" name="mprice">
                                                   <span class="input-group-addon" id="basic-addon2">元/份</span>
                                                </div>
                                            </div>
                                            <!--<label class="co-sm-2 control-label">元</label>-->
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">产地</label>
                                            <div class="col-sm-5">
                                                <input class="form-control" type="text" placeholder="" name="origin">
                                            </div>
                                        </div>
                                    </form>
                        	</div>
                        	<div class="modal-footer">
                            	    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            	    <button type="submit" class="btn btn-primary add-special" data-dismiss="modal">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title pull-left" style="padding-top: 8px;">
                        商品数({{ specials|length }})
            		</h3>
                        <button class="btn btn-sm btn-success pull-right" onclick="location.href='/specials/new'">添加
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <th hidden="true">ID</th>
                                <th>名称</th>
                                <th style="width:80px;" class="text-center">图片</th>
                                <th>规格(克/份)</th>
                                <th>原价(元)</th>
                                <th>促销价(元)</th>
                                <th>产地</th>
                                <th>销量(份)</th>
                                <th style="width:80px;" class="text-center">操作</th>
                            </thead>
                            <tbody>
                            {% autopaginate specials 10 %}
                                {% for special in specials%}
                                    <tr>
                                        <td class="fp" hidden="true">{{ special.id }}</td>
                                        <td >{{ special.name }}</td>
                                        <td class="text-center"><img src="{{ special.photo }}" style="width:30px;height:30px;"></td>
                                        <td >{{ special.size }}</td>
                                        <td> {{ special.price }}</td>
                                        <td >{{ special.mprice }}</td>
                                        <td >{{ special.origin }}</td>
                                        <td >{{ special.sales }}</td>
                                        <td >
                                            <div class="btn-group btn-group-sm pull-right">
					        <input type=button class="btn btn-mini btn-info" onClick="parent.location='show?id={{ special.id }}'" value='查看/编辑'>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
		        </table>
			    {% paginate %}
		    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/bower_components/raphael/raphael-min.js"></script>
    <script src="/static/bower_components/morrisjs/morris.min.js"></script>
    <!--<script src="/static/js/morris-data.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>
    <script src="/static/css/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <!--<script src="/static/201505091706/js/fileinput.js" type="text/javascript"></script>
    <script src="/static/201505091706/js/fileinput_locale_zh.js" type="text/javascript"></script>-->

    <script>
        $(".add-special").click(function() {
            $('#specials').submit();
        });
    	$(".delete").click(function() {
            //$('#delModal').modal('show');
            var $row = $(this).closest("tr");    
            var $text = $row.find(".fp").text();
            var $href = '/specials/delete';
            $.post($href, {id: $text,'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(result){
		if ( result == 'succeed' ){ window.location.reload(); } 
	    });
        });
        $(".edit-special").click(function() {
	    $('#infoModal').modal('show');
        });
    
    </script>
</body>
</html>
