
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>绿优农品</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   <link href="/static/css/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
   <style>
       .form-control[disabled], fieldset[disabled] .form-control {
           background-color: #fff;
           cursor: default;
       }
   </style>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">绿优农品后台管理系统</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/summaries"><i class="fa fa-dashboard fa-fw"></i> 系统概览</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 商品管理<!--<span class="fa arrow"></span>--></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/specials">特价商品</a>
                                </li>
                                <li>
                                    <a href="/items">普通商品</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> 订单管理<!--<span class="fa arrow"></span>--></a>
			    <ul class="nav nav-second-level">
                               <li>
                                   <a href="/orders">订单查询</a>
                               </li>
                               <li>
                                   <a href="/orders">全部订单</a>
                               </li>
                               <li>
                                   <a href="/orders">待付款</a>
                               </li>
                               <li>
                                   <a href="/orders">配送中</a>
                               </li>
                               <li>
                                   <a href="/orders">已完成</a>
                               </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> 用户管理<!--<span class="fa arrow"></span>--></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/users">管理员</a>
                                </li>
                                <li>
                                    <a href="/users">普通用户</a>
                                </li>
                                <li>
                                    <a href="/users">配送员</a>
                                </li>
                                <li>
                                    <a href="/users">质检员</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> 区域管理<!--<span class="fa arrow">--></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">东区</a>
                                </li>
                                <li>
                                    <a href="#">西区</a>
                                </li>
                                <li>
                                    <a href="#">南区</a>
                                </li>
                                <li>
                                    <a href="#">北区</a>
                                </li>
                                <!--<li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                </li>-->
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> 自提点管理<!--<span class="fa arrow"></span>--></a>
                            <!--<ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html"></a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>-->
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
	    <div class="container-fluid">
                <div id="delModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body">
                              确定要删除吗? 删除后数据将无法恢复哦！
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">不删</button>
                                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="delVeg();">删除</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-top: 20px">
 		    <div class="panel-heading">
                        <input id="id" value="{{ id }}" style="display:none;">
    			<h3 class="panel-title">查看/编辑</h3>
                        <!--<button style="margin-top: -20px;" class="btn btn-sm btn-danger pull-right delete">
			<i class="fa fa-fw fa-trash"></i>删除
                        </button>-->
		        <button id="name" style="margin-top: -20px;" class="btn btn-sm btn-primary pull-right edit">
		            <li class="fa fa-fw fa-edit"></li>编辑
                        </button>
                        <button id="name" style="margin-top:-20px;display:none" class="btn btn-sm btn-success pull-right save">
			    <li class="fa fa-fw fa-floppy-o"></li>保存
                        </button>
                        <div class="clearfix"></div>
  		    </div>
  		    <div class="panel-body">
			<form id="special-edit" class="form-horizontal" action="/specials/update" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                            <input name="id" value="{{ id }}" style="display:none;">

                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">名称</label>
                                <div class="col-sm-5">
                                    <input name="name" class="form-control" type="text" placeholder="" value="{{ name }}" disabled="disabled" onfocus="this.select();">
                                </div>
                                <!--<div class="col-sm-2">
                                    <button id="name" class="btn btn-sm btn-default edit">
				        <li class="fa fa-fw fa-edit"></li>编辑
                                    </button>
                                    <button id="name" class="btn btn-sm btn-success save" style="display:none">
				        <li class="fa fa-fw fa-floppy-o"></li>保存
                                    </button>
                                </div>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">图片</label>
                                <div class="col-sm-5">
                                    <div class="fileinput fileinput-exists" data-provides="fileinput">
                                        <div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                            <img src="{{ photo }}">
                                        </div>
                                        <div>
                                            <span class="btn btn-default btn-file">
                                                <span class="fileinput-new" disabled="disabled" btn-primary>选择图片</span>
                                                <span class="fileinput-exists change" disabled="disabled">更换</span>
                                                <input type="file" name="photo" disabled="disabled">
                                            </span>
                                            <!--<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>-->
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-sm-2">
                                    <button id="photo" class="btn btn-sm btn-default edit">
				        <li class="fa fa-fw fa-edit"></li>编辑
                                    </button>
                                    <button id="photo" class="btn btn-sm btn-success save" style="display:none">
				        <li class="fa fa-fw fa-floppy-o"></li>保存
                                    </button>
                                </div>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" placeholder="" name="desc" value="{{ desc }}" disabled="disabled" onfocus="this.select();">
                                </div>
                                <!--<div class="col-sm-2">
                                    <button id="desc" class="btn btn-sm btn-default edit">
				        <li class="fa fa-fw fa-edit"></li>编辑
                                    </button>
                                    <button id="desc" class="btn btn-sm btn-success save" style="display:none">
				        <li class="fa fa-fw fa-floppy-o"></li>保存
                                    </button>
                                </div>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">规格</label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="" name="size" value="{{ size }}" disabled="disabled" onfocus="this.select();">
                                        <span class="input-group-addon" id="basic-addon2">克/份</span>
                                    </div>
                                </div>
                                <!--<label class="co-sm-2 control-label">克/份</label>-->
                                <!--<div class="col-sm-2">
                                    <button id="size" class="btn btn-sm btn-default edit">
				        <li class="fa fa-fw fa-edit"></li>编辑
                                    </button>
                                    <button id="size" class="btn btn-sm btn-success save" style="display:none">
				        <li class="fa fa-fw fa-floppy-o"></li>保存
                                    </button>
                                </div>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">原价</label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="" name="price" value="{{ price }}" disabled="disabled" onfocus="this.select();">
                                        <span class="input-group-addon" id="basic-addon2">元/份</span>
                                    </div>
                                </div>
                                <!--<label class="co-sm-2 control-label">元</label>-->
                                <!--<div class="col-sm-2">
                                    <button id="price" class="btn btn-sm btn-default edit">
				        <li class="fa fa-fw fa-edit"></li>编辑
                                    </button>
                                    <button id="price" class="btn btn-sm btn-success save" style="display:none">
				        <li class="fa fa-fw fa-floppy-o"></li>保存
                                    </button>
                                </div>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">促销价</label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="" name="mprice" value="{{ mprice }}" disabled="disabled" onfocus="this.select();">
                                        <span class="input-group-addon" id="basic-addon2">元/份</span>
                                    </div>
                                </div>
                                <!--<label class="co-sm-2 control-label">元</label>-->
                                <!--<div class="col-sm-2">
                                    <button id="mprice" class="btn btn-sm btn-default edit">
				        <li class="fa fa-fw fa-edit"></li>编辑
                                    </button>
                                    <button id="mprice" class="btn btn-sm btn-success save" style="display:none">
				        <li class="fa fa-fw fa-floppy-o"></li>保存
                                    </button>
                                </div>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">产地</label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" placeholder="" name="origin" value="{{ origin }}" disabled="disabled" onfocus="this.select();">
                                </div>
                                <!--<div class="col-sm-2">
                                    <button id="origin" class="btn btn-sm btn-default edit">
				        <li class="fa fa-fw fa-edit"></li>编辑
                                    </button>
                                    <button id="origin" class="btn btn-sm btn-success save" style="display:none">
				        <li class="fa fa-fw fa-floppy-o"></li>保存
                                    </button>
                                </div>-->
                            </div>
                        <form/>
  		    </div>
  		    <div class="panel-footer">
                        <input id="id" value="{{ id }}" style="display:none;">
 		        <div class="row">
                	    <div class="col-lg-12">
                                <button class="btn btn-sm btn-danger pull-right delete"><i class="fa fa-fw fa-trash"></i>删除</button>
                            </div>
                        </div>
                    </div>
		</div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/bower_components/raphael/raphael-min.js"></script>
    <script src="/static/bower_components/morrisjs/morris.min.js"></script>
    <!--<script src="/static/js/morris-data.js"></script>---edit").submit();!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>
    <script src="/static/css/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script>
	$(".delete").click(function() {
            var $id = $("#id").val(); 
            var $href = '/specials/delete';
            $.post($href, {id: $id,'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(result){
                if ( result == 'succeed' ){ 
		    //history.go(-1); location.reload();
	            window.location.href=document.referrer;	
                }
            });
        });
        $(".edit").click(function() {
            //var name = this.id;
            //$("input[name=" + name + "]").removeAttr('disabled');
            //$("input[name=" + name + "]").focus();
            //var obj = this.nextElementSibling||this.nextSibling;
            //$(obj).removeAttr('style');
            //this.style.display="none";
            $(".change").removeAttr('disabled');
            $("input[name=name]").removeAttr('disabled');
            $("input[name=photo]").removeAttr('disabled');
            $("input[name=desc]").removeAttr('disabled');
            $("input[name=size]").removeAttr('disabled');
            $("input[name=price]").removeAttr('disabled');
            $("input[name=mprice]").removeAttr('disabled');
            $("input[name=origin]").removeAttr('disabled');
            var obj = this.nextElementSibling||this.nextSibling;
            //$(obj).removeAttr('style.display');
            $(obj).attr('style', 'margin-top:-20px;');
            this.style.display="none";
	});    
        $(".save").click(function() {
            $("#special-edit").submit();
            //name = this.id;
            //var obj = this.previousElementSibling || this.previousSibling;
	    //$(obj).removeAttr('style');
            //this.style.display="none";
	    //$("input[name=" + name + "]").attr('disabled', 'disabled');
            //value = $("input[name=" + name + "]").val();
            //href = '/vegetables/update';
            //$.post(href, {name: value, 'csrfmiddlewaretoken': '{{ csrf_token }}'}); 
            //$("input[name=name]").attr('disabled', 'disabled');
            //$("input[name=photo]").attr('disabled', 'disabled');
            //$("input[name=desc]").attr('disabled', 'disabled');
            //$("input[name=size]").attr('disabled', 'disabled');
            //$("input[name=price]").attr('disabled', 'disabled');
            //$("input[name=mprice]").attr('disabled', 'disabled');
            //$("input[name=origin]").attr('disabled', 'disabled');
            //var obj = this.previousElementSibling || this.previousSibling;
            //$(obj).attr('style', 'margin-top:-20px;');
	    ////$(obj).removeAttr('style');
            //this.style.display="none";
            //history.back();

        });
        //function getBase64Image(img) {
      	//    var canvas = document.createElement("canvas");
        //    canvas.width = img.width;
        //    canvas.height = img.height;

        //    var ctx = canvas.getContext("2d");
        //    ctx.drawImage(img, 0, 0, img.width, img.height);

        //    var dataURL = canvas.toDataURL("image/png");
        //    var blob = dataURLtoBlob(dataRUL);
        //    alert(blob);
        //    return dataURL

    	//};
        //$("input[type=file]").change(function(event){
        //    for (i in event.target.files[0]){
        //        alert(event.target.files[0].i);
        //    }
        //    alert(event.target.files[0]);
        //});
        //$(document).ready(function(){
        //    var img = document.createElement('img');
        //    img.src = '{{ photo }}';
        //    img.onload =function() {
        //        var data = getBase64Image(img);
        //        var $img = $('<img>')
        //        $img[0].src = data;
        //        var preview = $(".fileinput-preview");
        //        //$("img").attr('src',data);
        //        preview.html($img);
        //        console.log(data);
        //    }
        //    
        //    //var reader = new FileReader();
	//    //reader.onload = function ( event ) { 
	//    //    var data = event.target.result;
	//    //    var img = document.createElement("img");
	//    //    img.src = data;
        //    //    var preview = $(".fileinput-preview");
        //    //    preview.html(img);
        //    //}
        //    //reader.readAsDataURL('{{ photo }}');
	//});
    </script>
</body>
</html>

